# This is a weird way of telling Travis to use the fast container-based test
# runner instead of the slow VM-based runner.
sudo: false

language: go

# Only the last two Go releases are supported by the Go team with security
# updates. Any older versions be considered deprecated. Don't bother testing
# with them.
go:
  - 1.12.x
  - 1.13.x
  - 1.14.x
  - 1.15.x
  - 1.16.x
  - 1.x
  - tip

os:
  - linux

matrix:
  allow_failures:
    - go: tip

notifications:
  email:
    on_success: change
    on_failure: always

# Only clone the most recent commit.
git:
  depth: 1

before_install:
  - export GO111MODULE="on"

install:
  - go mod download
  - go get github.com/golangci/golangci-lint/cmd/golangci-lint
  - go get golang.org/x/tools/cmd/cover
  - go get github.com/mattn/goveralls

script:
  - go vet ./...
  - golangci-lint run
  - go test -v -covermode=count -coverprofile=coverage.out
  - go test -race
  - goveralls -coverprofile=coverage.out -service=travis-ci